<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nexus" value="https://nexus.qaybe.de/repository/nuget-group/" protocolVersion="2" />
  </packageSources>
  <packageSourceCredentials  >
    <nexus>
      <add key="Username" value="Jenkins" />
      <add key="ClearTextPassword" value="9iBze!AlUw-tyE-9yIGL!DcW" />
    </nexus>
  </packageSourceCredentials>
</configuration>
