<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.StructuredLogging.Json" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target name="logstash"
            xsi:type="Network"
            layout="${structuredlogging.json}"
            address="https://logs.qaybe.de" >
      <layout xsi:type="JsonWithProperties">
        <property name="MachineName"
                  layout="${machinename}"/>
        <property name="Application"
                  layout="Dev.Slipways.GraphQL"/>
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Debug" writeTo="logstash" />
  </rules>
</nlog>